/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #818181;
    background-color: #fff;
    }

/*Especificidad: 001*/
h1 {
    color: #fff;    
    background-color:#424242; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }

/*Especificidad: 001*/
p {
    color: #fff;    
    background-color:#424242; 
    padding: 1em; 
    text-align: left;     
    }

/*Especificidad: 001*/
label {
    color: rgb(0, 0, 0);    
    background-color:#ffffff; 
    }