/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #818181;
    background-color: #d2b48c;
    }

/*Especificidad: 001*/
h1{
    color: rgb(0, 0, 0);
    background-color: #d2b48c;
    padding: 1em;
}

/*Especificidad: 001*/
p{
    color: rgb(0, 0, 0);
    background-color: #d2b48c;
    padding: 0.5em;
}

/*Especificidad: 003*/
body > form > fieldset{
    padding: 1.5em;
    background-color: #3d4543;
    color: black;
    border-radius: 0.8em;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border-style: none;
    height: 35em;
    row-gap: 2em;
    column-gap: 1em;
    max-width: 26em;
    min-width: 13em;
}

/* Especificidad: 004*/
body > form > fieldset > textarea{
    width:100%;
    height:100%;
    resize: none;
    text-align: right;
    background-color: #bccd95;
    color: black;
    border-style: inset;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 0.5em;
}

/*Especificidad: 004*/
body > form > fieldset > input{
    width: 100%;
    height: 100%;
    font-size: 2em;
    background-color: #dddddd;
    color: black;
    border-radius: 0.7em;
    border-style: none;
}

/*Especificidad: 014*/
body > form > fieldset > input:nth-child(5),
/*Especificidad: 014*/
body > form > fieldset > input:nth-child(9),
/*Especificidad: 014*/
body > form > fieldset > input:nth-child(13),
/*Especificidad: 014*/
body > form > fieldset > input:nth-child(17){
    color: black;
    background-color: #ff4561;
}

/*Especificidad: 014*/
body > form > fieldset > input:nth-child(2),
/*Especificidad: 014*/
body > form > fieldset > input:nth-child(3),
/*Especificidad: 014*/
body > form > fieldset > input:nth-child(4){
    color: white;
    background-color: #6f6f6f;
}

/*Especificidad: 014*/
body > form > fieldset > input:nth-child(21){
    color: black;
    background-color: #dddddd;
}